3
Tuan Hak
passTuanHak
081        
Pahing
    Privat
    R R R R R R G B G R R G G G R R G B G R R R R R R Tuan Vin
 * R * R *passTuanVin
R * R *08          
 * R *            
 * R *Publik      
 * R *R R R R R R R R R R R R R R R R R R R R R R R R R Tuan Bri
 * R * R *passTuanBri
R * R *
assTuanBri R * R *
assTuanBri R * R *PublikanBri R * R *R R R R R R R R R R R R R R R R R R R R R R R R R 1 1 1
0 0 1
1 1 1
2
2 1 0
0 0 0
